.weather-content {
    .location {
        span {
            font-size: 1.5rem;
        }
    }
    .contidion {
        .weather-state {
            padding-left: 40px;
            position: relative;
            &::before {
                content: '';
                background-image: url('../assets/cloudy.png');
                background-size: contain;
                width: 30px;
                height: 30px;
                position: absolute;
                top: -5px;
                left: 0;
            }
        }
    }
    table {
        width: 100%;
        th,
        td {
            border: 1px solid $brand-black;
            padding: 10px;
        }
        td {
            text-align: center;
        }
    }
}
